body {
    background-color: #e6e6e6;
}

.header{
    background-color: #919191;
    width: 100%;
    margin: none;
    height: 10em;
    position: absolute;
    border: none;
}

.header .top_bar{
    text-align: right;
}

.header .title{
    transform: translate( 50%, 200%);
    left: 50%;
    top: 50%;
}


